/*Add your CSS rules*/

/*Some selectors you may need include are
a.skip, header, .nav_links, .container,
.intro, html, .text-block, etc.*/

a.skip{
    top: 40px;
    display: none;
}

body:hover .skip{
    display: block;
}

@media screen and (max-width:750px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    body main img {
        width: 100%;
    }

    body .nav_links {
        display: flex;
        text-align: center;
        justify-content: flex-end;
        flex-flow: wrap;
    }

    body .nav_links li a:focus {
        color: #50C7C7;
    }

    body .nav_links li a:hover {
        color: #50C7C7;
    }

    .container {
        display: grid;
    }
}



@media screen and (min-width:750px) {
    body {
        background-color: red;
    }
}