/*Add your CSS rules*/

/*Some selectors you may need include are
a.skip, header, .nav_links, .container,
.intro, html, .text-block, etc.*/

a.skip {
    top: -40px;
    position: absolute;
}

a.skip:focus{
    top: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

body main {
    overflow: hidden;
}

body .nav_links li a:focus {
    color: #50C7C7;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #50C7C7;
}

body .nav_links li a:hover {
    color: #50C7C7;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #50C7C7
}

@media screen and (max-width:750px) {
    header {
        display: flex;
        /* display: -webkit-flex; */
        flex-direction: column;
        align-items: center;
    }
    
    #logo {
        width: 50px;
        animation-name: logomove;
        animation-duration: 1s;
        -webkit-animation-name: logomove;
        -webkit-animation-duration: 1s;
    }
    
    body .nav_links {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    body .nav_links li {
        padding-bottom: 5px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: repeat(5, auto);
        row-gap: 15px;
        /* grid-template-areas: "a a a" 'b c .' 'd e .' 'f g .' 'h i .'; */
    }

    #main {
        background-image: url(../images/header.jpg);
        background-attachment: fixed;
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
        grid-column: 1/4;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #main h1 {
        color: white;
    }

    .about-image,
    .method-image,
    .clients-image,
    .contact-image {
        grid-column: 1/4;
    }

    .about-image,
    .method-image,
    .clients-image,
    .contact-image img {
        height: 700px;
        overflow: hidden;
    }

    .text-block {
        grid-column: 2/3;
        place-self: center center;
    }

    .about,
    .about-image {
        grid-row: 2/3;
    }

    .method,
    .method-image {
        grid-row: 3/4;
    }

    .clients,
    .clients-image {
        grid-row: 4/5;
    }

    .contact,
    .contact-image {
        grid-row: 5/6;
    }

}

@media screen and (min-width: 750px) and (max-width:1125px){
    header {
        display: flex;
        /* display: -webkit-flex; */
        flex-direction: column;
        align-items: center;
    }

    
    #logo {
        width: 50px;
        animation-name: logomove;
        animation-duration: 1s;
        -webkit-animation-name: logomove;
        -webkit-animation-duration: 1s;
    }
    
    body .nav_links {
        display: flex;
        text-align: center;
        flex-direction: row;
    }

    body .nav_links li {
        padding: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: 50px minmax(75px,max-content) 500px minmax(75px,max-content) 50px;
        grid-template-rows: repeat(5, 400px);
    }

    #main {
        background-image: url(../images/header.jpg);
        background-attachment: fixed;
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
        grid-column: 1/6;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #main h1 {
        color: white;
    }

    .about-image,
    .method-image,
    .clients-image,
    .contact-image img {
        overflow: hidden;
    }

    .about, .clients, .method-image, .contact-image{
        grid-column: 3/5;
    }

    .about-image, .clients-image, .method, .contact{
        grid-column: 2/4;
    }

    .about,
    .about-image {
        grid-row: 2/3;
    }

    .method,
    .method-image {
        grid-row: 3/4;
    }

    .clients,
    .clients-image {
        grid-row: 4/5;
    }

    .contact,
    .contact-image {
        grid-row: 5/6;
    }

    .text-block{
        place-self: center center;
    }
}

@media screen and (min-width:1125px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        width: 50px;
        animation-name: logomove-table;
        animation-duration: 1s;
        -webkit-animation-name: logomove-table;
        -webkit-animation-duration: 1s;
    }
    
    body .nav_links {
        display: flex;
        text-align: center;
        flex-direction: row;
    }

    body .nav_links li {
        padding: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: 15px 75px 1fr 25px 1fr 75px 15px;
        grid-template-rows: repeat(3, 400px);
    }

    #main {
        background-image: url(../images/header.jpg);
        background-attachment: fixed;
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
        grid-column: 1/8;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #main h1 {
        color: white;
    }

    .about-image, .clients-image{
        grid-column: 2/7;
    }

    .method-image, .contact-image{
        display: none;
    }

    .about, .clients{
        grid-column: 3/4;
    }

    .method, .contact{
        grid-column: 5/6;
    }

    .about, .method,.about-image{
        grid-row: 2/3;
    }

    .clients, .contact, .clients-image{
        grid-row: 3/4;
    }

    .text-block{
        place-self: center center;
    }
}

@-webkit-keyframes logomove {
    from {
        width: 0px;
    }

    to {
        width: 50px;
    }
}

@keyframes logomove {
    from {
        width: 0px;
    }

    to {
        width: 50px;
    }
}

@-webkit-keyframes logomove-table{
    0% {
        width: 50px;
    }
    50%{
        width: 150px;
        left: 450px;
    }
    100%{
        width: 50px;
    }
}

@keyframes logomove-table{
    0% {
        width: 50px;
        left: 0px;
    }
    50%{
        width: 150px;
        left: 450px;
    }
    100%{
        width: 50px;
        left: 0px;
    }
}